.about__content {
  display: grid;
  grid-template-columns: 600px 500px;
  grid-template-rows: 222px 325px;
  gap: 48px 80px;
}

.about__title {
  margin-bottom: 50px;
}

.about__photo-wrapper {
  background-image: -webkit-image-set(
    url("../img/about_photo.avif"),
    url("../img/about_photo.webp"),
    url("../img/about_photo.jpg")
  );
  background-image: image-set(
    url("../img/about_photo.avif"),
    url("../img/about_photo.webp"),
    url("../img/about_photo.jpg")
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 596px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.about__description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.about__blockquote-wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.about__blockquote-info {
  margin-left: auto;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.about__text:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 1100px) {
  .about__content {
    grid-template-columns: 420.46px 444px;
    grid-template-rows: 195px 217px;
    gap: 26px 39.54px;
  }

  .about__title {
    margin-bottom: 26px;
  }

  .about__photo-wrapper {
    width: 420.46px;
    height: 417.66px;
  }

  .about__text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 970px) {
  .about__content {
    grid-template-columns: 382px 278px;
    grid-template-rows: 380px 184px;
    gap: 30px 28px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__photo-wrapper {
    width: 382px;
    height: 380px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .about__description {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }

  .about__blockquote-wrapper {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .about__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 650px) {
  .about__content {
    grid-template-columns: 280px;
    grid-template-rows: 127px 280px 146px;
    gap: 30px 28px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .about__photo-wrapper {
    width: 280px;
    height: 280px;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .about__description {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .about__blockquote-wrapper {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .about__text {
    font-size: 12px;
    line-height: 16px;
  }
}
