.about__content {
    display: flex;
    gap: 80px;
}

.about__title {
    margin-bottom: 50px;
}

.about__photo {
    max-width: 600px;
    height: auto;
}

.about__right-block {
    max-width: 500px;
}

.about__description {
    margin-bottom: 47px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    white-space: pre-line;
}

.about__text:not(:last-child) {
    margin-bottom: 30px;
}
