.address {
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 39px;
}

.address__item {
    display: flex;
    gap: 28px;
}

.address__icon {
    color: #cd06ff;
}

.address__item_location {
    margin-bottom: 38px;
}

.address__text {
    white-space: pre-line;
}

.address__item_tel {
    margin-bottom: 11px;
}

.address__link {
    display: flex;
    gap: 28px;
}

.address__link:hover,
.address__link:focus {
    color: #6c0287;
}

.address__link:active {
    color: #640aa3;
}
