.address {
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 39px;
}

.address__item {
    width: max-content;
}

.address__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    color: #cd06ff;
}

.address__item_location {
    display: inline-block;
    margin-bottom: 38px;
}

.address__text {
    display: inline-block;
    white-space: pre-line;
    vertical-align: middle;
}

.address__item_tel {
    margin-bottom: 11px;
}
