.banner__content {
    position: relative;
    max-width: 1180px;
    height: 823px;
}

.banner__title {
    max-width: 890px;
    font-size: 150px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -14px;
    word-spacing: -8px;
    text-transform: uppercase;
}

.banner__description {
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.banner__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner__group {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
    padding-top: 141px;
}

.banner__item {
    position: relative;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner__item:before {
    content: "";
    color: #cd06ff;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%);
    position: absolute;
}

.banner__item_one {
    max-width: 193px;
}

.banner__item_one:before {
    content: "4";
    height: 125px;
    font-size: 100px;
    font-weight: 900;
    margin: 0;
}

.banner__item_two {
    max-width: 166px;
}

.banner__item_two:before {
    content: "new";
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 900;
    margin: 0;
    height: 102px;
}

.banner__button {
    width: 374px;
    height: 80px;
    background-color: #6c0287;
    border-radius: 10px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 69px;
    z-index: 50;
    box-shadow: 4px 4px 4px rgba(108, 2, 135, 0.25);
}

.banner__open {
    display: block;
    width: 97px;
    height: 97px;
    background-image: url(../img/down.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    color: #fff;
}
