.banner__content {
    position: relative;
    max-width: 1180px;
    min-height: 823px;
}

.banner__title {
    max-width: 890px;
    font-size: 150px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -14px;
    word-spacing: -8px;
    text-transform: uppercase;
}

.banner__description {
    width: max-content;
    font-size: 28px;
    font-weight: 400;
    line-height: 50px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.banner__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.banner__group {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 150px;
    width: max-content;
}

.banner__item {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.banner__item_one {
    width: 193px;
    height: 209px;
}

.first-letter {
    display: block;
    color: var(--violet);
    font-size: 100px;
    font-weight: 900;
    line-height: 141px;
}

.banner__item_two {
    width: 166px;
    height: 174px;
}

.first-word {
    display: block;
    color: var(--violet);
    font-size: 75px;
    font-weight: 900;
    line-height: 106px;
}

.banner__button {
    background-color: var(--main-color);
    border-radius: 10px;
    color: var(--text-color);
    font-size: 26px;
    text-transform: uppercase;
    padding: 25px 69px;
    box-shadow: 0 0 10px 4px rgba(231, 104, 189, 0.25);
    transition: 0.2s ease-in-out;
}

.banner__button:hover,
.banner__button:focus {
    background-color: var(--light-purple);
}

.banner__button:active {
    background-color: var(--purple);
}

.banner__open {
    display: block;
    width: 97px;
    height: 97px;
    background-image: url("../icons/down.svg");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    color: var(--text-color);
    transition: 0.4s ease-in-out;
}

.banner__open:hover {
    background-image: url("../icons/down-hover.svg");
}

.banner__open:active {
    background-image: url("../icons/down-active.svg");
}

.banner__open:focus {
    outline: 1px solid var(--violet);
}

@media (max-width: 1100px) {
    .banner__content {
        max-width: 904px;
        min-height: 583px;
        margin: 0 auto;
    }

    .banner__title {
        max-width: 706px;
        font-size: 120px;
        letter-spacing: -12px;
        word-spacing: 0;
    }

    .banner__description {
        font-size: 22px;
        line-height: 30px;
    }

    .banner__img {
        max-width: 453px;
    }

    .banner__group {
        margin-bottom: 80px;
    }

    .banner__item {
        font-size: 26px;
        line-height: 30px;
    }

    .banner__item_one {
        width: 168px;
        height: 173px;
    }

    .first-letter {
        font-size: 80px;
        line-height: 113px;
    }

    .banner__item_two {
        width: 140px;
        height: 145px;
    }

    .first-word {
        font-size: 60px;
        line-height: 85px;
    }

    .banner__button {
        font-size: 22px;
        padding: 17px 48px;
        margin-left: 39px;
    }

    .banner__open {
        width: 67px;
        height: 67px;
        background-image: url("../icons/down-size.svg");
        bottom: 46px;
    }
}

@media (max-width: 970px) {
    .banner__content {
        max-width: 688px;
        min-height: 537px;
    }

    .banner__title {
        max-width: 506px;
        font-size: 86px;
        letter-spacing: -8px;
        word-spacing: 3px;
        margin-bottom: 20px;
    }

    .banner__description {
        font-size: 18px;
        line-height: 24px;
        margin-left: 67px;
        margin-bottom: 50px;
    }

    .banner__img {
        max-width: 415px;
    }

    .banner__group {
        margin-bottom: 90px;
        gap: 30px;
    }

    .banner__item {
        font-size: 16px;
        line-height: 18px;
    }

    .banner__item_one {
        width: 103px;
        height: 107px;
    }

    .first-letter {
        font-size: 50px;
        line-height: 71px;
    }

    .banner__item_two {
        width: 89px;
        height: 92px;
    }

    .first-word {
        font-size: 40px;
        line-height: 56px;
    }

    .banner__button {
        font-size: 16px;
        line-height: 24px;
        padding: 11px 35px;
        margin-left: 0;
        border-radius: 4px;
    }

    .banner__open {
        display: none;
    }
}

@media (max-width: 650px) {
    .banner__content {
        max-width: 280px;
        min-height: 204px;
    }

    .banner__title {
        max-width: 212px;
        font-size: 35px;
        letter-spacing: -3px;
        word-spacing: 3px;
        margin-bottom: 6px;
    }

    .banner__description {
        font-size: 10px;
        line-height: 14px;
        margin-left: 19px;
        margin-bottom: 10px;
    }

    .banner__img {
        max-width: 161px;
    }

    .banner__group {
        margin-bottom: 10px;
        gap: 20px;
    }

    .banner__item {
        font-size: 10px;
        line-height: 11px;
    }

    .banner__item_one {
        width: 65px;
        height: 59px;
    }

    .first-letter {
        font-size: 26px;
        line-height: 37px;
    }

    .banner__item_two {
        width: 54px;
        height: 53px;
    }

    .first-word {
        font-size: 22px;
        line-height: 31px;
    }

    .banner__button {
        font-size: 10px;
        line-height: 12px;
        padding: 8px 13px 7px 13px;
        border-radius: 4px;
    }

    .banner__open {
        display: none;
    }
}
