.section-color {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--purple-bg);
}

.booking__title {
    margin-bottom: 50px;
}

.form__fieldset-block {
    border: 0;
}

.form__fieldset-block:not(:last-child) {
    margin-bottom: 60px;
}

.form__fieldset-block_one {
    display: flex;
    justify-content: space-between;
}

.form__title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.form__fieldset {
    border: 0;
}

.form__subtitle {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 24px;
}

.form__fieldset-block_two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
}

.form__fieldset_two {
    display: flex;
    flex-direction: column;
}

.small-block {
    max-width: 1180px;
    padding: 0 100px;
    margin: 0 auto;
}

.form__input {
    width: 27px;
    height: 27px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    margin-right: 12px;
    cursor: pointer;
}

.form__input_btn {
    position: absolute;
    width: 0;
    height: 0;
    margin-right: 0;
}

.form__radio-label {
    display: inline-block;
    width: 250px;
    height: 55px;
    text-align: center;
    padding: 7px 15px 8px;
    background-color: var(--text-color);
    color: var(--black);
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.form__radio-label:hover,
.form__radio-label:focus {
    background-color: var(--light);
    border: 3px solid var(--purple);
}

.form__input_btn:active + .form__radio-label,
.form__input_btn:checked + .form__radio-label {
    background-color: var(--main-color);
    border: 3px solid var(--text-color);
    color: var(--text-color);
}

.form__input_btn:focus + .form__radio-label {
    outline: 3px solid var(--purple);
}

.form__label-one {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form__input_ellipse:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background-color: var(--text-color);
}

.form__input_ellipse:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    border-radius: 50%;
    opacity: 0;
}

.form__input_ellipse:checked:after {
    opacity: 1;
}

.form__input_square:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0%;
    background-color: var(--text-color);
}

.form__input_square:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    border-radius: 0%;
    opacity: 0;
}

.form__input {
    outline: 1px solid transparent;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
}

.form__input:focus {
    outline-color: var(--violet);
}

.form__input_btn:focus {
    outline: none;
}

.form__input_square:checked:after {
    opacity: 1;
}

.form__fieldset-block_third {
    display: flex;
    gap: 50px;
}

.form__fieldset_third {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form__label-third_small {
    width: 134px;
    position: relative;
}

.form__input-data {
    width: 100%;
    height: 52px;
    padding: 0 15px 0 0;
    position: absolute;
    opacity: 0;
    top: 0px;
    z-index: 30;
}

.form__field-data {
    display: block;
    color: #211e1e;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding: 12px 70px 12px 20px;
    background-color: var(--text-color);
    z-index: 10;
    cursor: pointer;
}

.form__triangle {
    position: absolute;
    width: 21px;
    height: 15px;
    top: 19px;
    right: 17px;
    pointer-events: none;
    z-index: 20;
}

.form__input-third {
    width: 300px;
    height: 52px;
    background-color: var(--text-color);
    font-size: 18px;
    line-height: 28px;
}

.form__select {
    width: 100%;
    height: 52px;
    padding: 12px 134px 12px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: var(--text-color);
    color: var(--black);
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    transition: 0.2s ease-in-out;
}

.form__select-wrap {
    position: relative;
    width: 300px;
}

.form__select-wrap:after {
    content: "";
    position: absolute;
    width: 21px;
    height: 15px;
    right: 19px;
    top: 19px;
    background-image: url(../icons/triangle.svg);
    background-repeat: no-repeat;
    pointer-events: none;
}

.form__select:focus {
    outline: 2px solid var(--violet);
}

.form__input-third:focus {
    outline: 2px solid var(--violet);
}

.form__input-third_center {
    width: 280px;
}

.form__field {
    font-size: 14px;
    line-height: 16px;
}

.form__block {
    display: flex;
    width: 300px;
    gap: 32px;
}

.form__big-block {
    display: flex;
    flex-direction: column;
}

.form__big-block_one {
    padding-top: 51px;
    gap: 50px;
}

.form__big-block_center {
    width: 280px;
}

.form__label-third_last {
    margin-bottom: 40px;
}

.booking__button {
    width: 300px;
    height: 60px;
    background-color: var(--text-color);
    color: var(--main-color);
    border-radius: 10px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 50px;
    border: 3px solid transparent;
    transition: 0.4s ease-in-out;
}

.booking__button:hover,
.booking__button:focus {
    background-color: var(--light);
    border: 3px solid var(--main-color);
}

.booking__button:active {
    background-color: var(--light);
    border: none;
    color: var(--main-color);
}
