.footer-block {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer-block__developer-name {
    margin-bottom: 6px;
}

.footer-block__developer {
    text-align: end;
}

.footer-block__developer-link:hover,
.footer-block__developer-link:focus {
    color: #6c0287;
}

.footer-block__developer-link:active {
    color: #640aa3;
}
