.halls__title {
    margin-bottom: 40px;
}

.halls__item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 20px;
}

.halls__item:not(:nth-child(2n)) {
    margin-right: 20px;
}

.halls__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
}

.halls__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-transform: uppercase;
    max-width: 448px;
    white-space: nowrap;
    line-height: 80px;
}

.halls__img {
    display: inline-block;
    max-width: 574px;
}
