.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.header__button {
    width: 280px;
    height: 55px;
    color: var(--text-color);
    border: 3px solid var(--violet);
    border-radius: 10px;
    padding: 12px 32px 13px;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

.header__button:hover {
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
}

.header__button:focus {
    background-color: var(--main-color);
    border: none;
}

.header__button:active {
    background-color: var(--purple);
    border: 1px solid var(--black);
}
