.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav__link {
    font-size: 22px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
}

/* .nav__link:visited {
    color: #6c0287;
} */

.nav__link:hover,
.nav__link:focus {
    color: #6c0287;
}

.nav__link:active {
    color: #640aa3;
}
