.social {
    display: flex;
    gap: 26px;
}

.social__icon {
    outline: 1px solid transparent;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.social__icon:focus {
    outline-color: #cd06ff;
    background-color: #eadeed;        /* не работает */
}

.social__icon:active {
    color: #cd06ff;
}
