.social {
    display: flex;
    gap: 26px;
}

.social__icon {
    outline: 1px solid transparent;
    color: #fff;
    transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.social__icon:hover {
    color: #eadeed; 
    transform: scale(0.8);
}

.social__icon:focus {
    outline-color: #cd06ff;                       /* не работает */
    color: #eadeed;       
}

.social__icon:active {
    color: #cd06ff;
}
