.social {
    display: flex;
    gap: 26px;
}

.social__icon {
    outline: 1px solid transparent;
    color: var(--text-color);
    transition: color 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.social__icon:hover {
    color: var(--light);
    transform: scale(0.8);
}

.social__icon:focus {
    outline-color: var(--violet);    /* не работает */
    color: var(--light);
}

.social__icon:active {
    color: var(--violet);
}
