:root {
    --bg-color: #1b1a1b;
    --text-color: #fff;
    --black: #000;
    --main-color: #6c0287;
    --violet: #cd06ff;
    --purple-bg: #440f51;
    --purple: #640aa3;
    --light-purple: #840aa3;
    --light: #eadeed;
    --background: rgba(27, 26, 27, 0.7)
}
