.halls__item {
    width: 380px;
    height: 229px;
}

.another-rooms__title {
    margin-bottom: 40px;
}

.halls__text {
    font-size: 30px;
    line-height: 1.2;
    white-space: unset;
    max-width: 158px;
    text-align: center;
}

.halls__list {
    grid-template-columns: repeat(3, 380px);
}

@media (max-width: 1100px) {
    .halls__item {
        width: 288px;
        height: 172px;
    }

    .another-rooms__title {
        margin-bottom: 36px;
    }

    .halls__list {
        grid-template-columns: repeat(3, 288px);
    }
}

@media (max-width: 970px) {
    .halls__item {
        width: 224px;
        height: 134px;
    }

    .another-rooms__title {
        margin-bottom: 30px;
    }

    .halls__list {
        grid-template-columns: repeat(3, 224px);
        gap: 8px;
    }
}

@media (max-width: 650px) {
    .halls__item {
        width: 280px;
        height: 140px;
    }

    .another-rooms__title {
        margin-bottom: 15px;
    }

    .halls__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
